
:root{
    --dark-text-color: #222;
    --light-text-color: #fff

}

.container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
.logo{
    width: 50px;
    height: 50px;
}
.navButtons{
    display: flex;
    gap: 20px;
}
.navButtons .nav_signup_btn, .nav_login_btn{
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: all .7s;
}
.nav_signup_btn{
    border: transparent;
    color: var(--light-text-color);
    background-color: #293F57;
}
.nav_login_btn{
    color: var(--black-text-color);
    border: 1px solid #222;
    background-color: transparent;
}
.nav_login_btn:hover{
    background-color: #293F57;
    border: 2px solid #293F57;
    color: #fff;
}
.nav_signup_btn:hover{
    background: #cfcfcf;
    color: var(--dark-text-color);
    outline: 1px solid #222;
}